body{
    font-size: 1.5rem; 
    /* 20px */
    margin: 0;
   text-align: center;
   font-family:'merriweather',serif; 
   
}
.name{
    color:  #20e9e9;
    font-size: 2rem;
}
h1{
    margin: 0px;
     position: relative;
     left:  1.56rem;   
     line-height: 2px;
}
hr{
    border: dotted  #20e9e9;
    border-bottom: none;
   
    margin: 3rem auto;
}

.top-container{
   position: relative; 
   padding: 6.25rem;
    background-color:#b9fffc;
   
}
.middle-container{
 background-color: #b9fffc;
}
.bottom-container{
   
 background-color:#b9fffc;
}
.bottom-cloud{
    position: absolute;
    left: 18rem;
    /* 300px */
}
.top-cloud{
    position: absolute;
    right: 18rem;
    /* 300px */
    top: 3rem;
    /* 50px */
    bottom: 18rem;
   
}
.profile{
    border-radius: 50%;
}
.html{
   width: 12.5rem;
   /* 200px both */
   height: 12.5rem;
   float: left;
  margin: 0.625rem;
  /* 10px */
  
}
.js{
    width: 12.5rem;
    height: 12.5rem;
    float: right;
    margin:  0.625rem;
}
.skill-row{
    width: 37.5rem;
    /* 600px */
    margin: 3rem auto 3rem auto;
    text-align: left;
    line-height:2;
   

}
.footer-link{
    width: 3rem;
}
.contact-message{
    line-height:2;
    width: 18rem;
    margin: 2.5rem auto;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color:#b9fffc;
    font-family: serif;
    font-size: 20px;
    font-weight: 100;
    padding: 15px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 19px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 30px auto;
 }
 
 .btn:hover {
    border: solid #30E3CB 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 @media(max-width:900px){
    html{font-size:55%}
}
@media(max-width:800px){
    html{font-size:45%}
}
